docs/site/

__pycache__/
*.py[cod]

*.bak
*.pyc
*.sqllite
*.swp
*.egg-info/
.cache-loader
.coverage
.DS_Store
.eggs
.idea
.python-version
.tox
*.log
.vscode
_build
_images
_modules
_static
build
changelog.sh
dist
dump.rdb
env
env_py3
envpy3
local_config.py
tmp
venv
.venv

# Node.js, webpack artifacts
*.entry.js
*.js.map
node_modules
npm-debug.log*

celery_results.sqlite
celerybeat-schedule
celerydb.sqlite
celerybeat.pid
geckodriver.log
ghostdriver.log

fab.out
.project
.pydevproject
build.log
build.log.zip
.fake
.ionide
